body{
  background:#EB6720;
  margin: 0;
}
header{
  background:#F59460;
  margin-top: 0;
  border: 5px solid #EE844B;
height: inherit;
}
.bu{
  background: #F59460;

}
.s1{
  color:white;
}
#qwer{
  color: #F3782D;
}
#footer{
  padding: 10px 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #F32D2D;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#s2{
  color:red;
}
#DP{
  background:yellow;
  margin-left: 10px;
  height: 30px;
}
#Sum{
  background:red;
  width: 150px;
  height: 30px;
  margin-left: 25px;
}
#Res{
  background:blue;
  width: 150px;
  height: 30px;
  margin-left: 25px;
}
#IP{
  background:green;
  margin-left: 12px;
  height: 30px;
}
#Mul{
  background:orange;
  width: 150px;
  height: 30px;
  margin-left: 25px;
}
#vidi{
  background:purple;
  width: 150px;
  height: 30px;
  margin-left: 30px;
}
h1{
  font-size:35px;

}
h2{
  font-size:35px;

}
#Calculatodo_sorry{
  font-style:italic;
  margin-left: 20px;
}

#Videos a{
  text-decoration: none;
  }
#Videos h2{
  margin: 0;

}
#Calculatodo_image{
  margin: 0px 20px;
}
#Videos{
  border-bottom: 10px solid #EE844B;
  border-left: 10px solid #EE844B;
  border-right: 10px solid #EE844B;
  margin: 20px;
  margin-bottom: 40px;
  border: 10px solid #EE844B;
  padding: 5px 20px;
}
#Calculatodo{
  border-top: 10px solid #EE844B;
  border-left: 10px solid #EE844B;
  border-right: 10px solid #EE844B;
  margin: 0px;
  border: 10px solid #EE844B;
}
#Experences{
  border: 10px solid #EE844B;
  margin-top: 20px;
  font-size: 20px;
  margin: 20px;
  border: 10px solid #EE844B;
}
#Experences_article{
  display: flex;
  align-items: center;
  justify-content: center;
}
#Videos_article{
  display: flex;
  justify-content: space-around;
}
.soli{
  margin-top: 0;
  margin-bottom: 0px;
}
#Videos_title3{
  margin-bottom: 0;
}
.container{
  box-shadow: 2px 7px 19px 13px #000;
  background-color: #F7A477;
  padding: 5px;
}
#Experences_part1{
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 10px;
}
#Experences_image1{
  padding-left: 70px;
}
#Calculatodo_image1{
  margin-left: 0px;
  margin-bottom: 5px;
}
#Calculatodo_image2{
  margin-left: 0px;
  margin-bottom: 5px;
}
#Calculatodo_image3{
  margin-left: 0px;
  margin-bottom: 5px;
}
#Calculatodo_image4{
  margin-left: 0px;
  margin-bottom: 5px;
}
#Calculatodo_image5{
  margin-left: 0px;
  margin-bottom: 5px;
}
#Calculatodo_image6{
  margin-left: 0px;
  margin-bottom: 5px;
}
#Calculatodo_selection{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#Calculatodo_title{
  margin-left: 20px;
}
#Calculatodo_title_selection{
  margin-left: 20px;
}
#Videos_enlaces{
  display: flex;
  flex-wrap: wrap;

}
#Videos_enlaces a{
  border: 1px solid #CA3312;
  border-radius: 2px;
  padding: 10px;
  background-color:#E73C17;
  color: white;
  margin-top: 60px;
  margin-right: 40px;
  height: 15px;
}
#Experences_part2{
  margin-top: 20px;
  margin-bottom: 20px;
}
#header_selection_passection{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#Final{
  margin: 20px;
  border: 10px solid #EE844B;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Irver{
  text-decoration: none;
  border: 2px solid #F72929;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 200px;
  margin-left: 150px;
  background: #F94B4B;
  color: white;
  box-shadow: -2px 2px 42px -6px black;
}
#diferente{
  margin-left: 125px;
}
.direc{
  border: 2px solid #607CFA;
  border-radius: 5px;
  margin: -50px;
  padding: 10px;
}
.direc2{
  border: 2px solid #FA6E60;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.correomrp{
  margin-left: 60px;
}
#header_title{
  margin: 5px 10px;
  color:red;
}
#header{
  margin-bottom: 10px;
  height: inherit;
  padding: 20px;
}
#Calculatodo{
  margin-top: 20px;
}
.container1{
  width: 200px;
  height: 260px;
  margin: 10px;

}
#Calculatodo_selection{
  display: flex;
  flex-wrap: wrap;
}

header a{
  text-decoration: none;
  color: #F23C3C;
  height: 20px;
  margin: 20px;
  padding: 10px;
  box-shadow: 2px 7px 19px 3px #000;
  background: #FACB9C;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ol,
ul{
  margin: 0;
 padding: 0;
 list-style: none;
}
ol,
li {

 height: inherit;
}
header ol{
  display: flex;
  height: inherit;
}
#Experences_title{
  margin-bottom: 0;
  margin-left: 20px;
}
